    <!-- Header (includes favicon & nav bar)-->
    <header class="d-flex flex-column flex-md-row align-items-center py-3 mb-2 mb-md-0 mt-2" style="background: transparent;">
        <a href="/#hero" class="mb-4 mb-md-0 ms-4 me-4"><img src="./images/favicon.ico" height="45" alt="Logo"></a>
        <!-- Navigation Bar -->
        <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
            <ul class="nav nav-pills mb-0">
                <li class="nav-item mb-2 mb-md-0 center-mobile"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item mb-2 mb-md-0 center-mobile"><a href="/project" class="nav-link">Featured Project</a></li>
                <li class="nav-item mb-2 mb-md-0"><a href="/projects" class="nav-link">All Projects</a></li>
                <li class="nav-item mb-2 mb-md-0"><a href="/contact" class="nav-link">Contact Me</a></li>
                <li class="nav-item mb-2 mb-md-0"><a href="/#about-me" class="nav-link">About</a></li>
            </ul>
             <!--Connect Wallet Button-->
            <button type="button" class="btn btn-outline-light ms-3 mt-2">Connect Wallet</button>
            </header>
        </div>