html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* body {
    background-color: aquamarine;
}

#testButton {
    background-color: coral;
    color: white;
} */

div {
    border: 1px solid palegreen
}
